<template name='admin'>
<h1>{{siteName}} - Admin</h1>
<div class='row'><div class='col-md-4'>
<table class='table'>
<tbody>
	<tr><td>Users</td><td>{{numUsers}}</td></tr>
	<tr><td>Orgs</td><td>{{numOrgs}}</td></tr>
	<tr><td>Transactions</td><td>{{numTransactions}}</td></tr>

</tbody>
</table>
<span class='createOrg btn btn-lg btn-primary'>Create Org</span>
<span class='createUser btn btn-lg btn-primary'>Create User</span>

</div>
<div class='col-md-4'>
	<h3>New Users</h3>
	<ul class='list-unstyled'>
	{{#each users}}
	<li class='row'>{{> userProfileTiny}} </li>
	{{/each}}
</ul>
	<h3>New Orgs</h3>
	<ul class='list-unstyled'>
	{{#each orgs}}
	<li class='row'><div class='col-md-3'><img src='{{avatar}}' class='img-responsive'></div><div class='col-md-5'><b>{{name}}</b><br>
		<b>Creator</b> <a href='/users/{{creator.username}}'>{{creator.username}}</a><br><b>Description</b><br>{{{description}}}</div><div class='col-md-4'><span class='approveOrg btn btn-default' data-id='{{_id}}'>Approve</span></div></li>
	{{/each}}
</ul>
</div>
<div class='col-md-4'>
	<h3>Transactions</h3>
	{{#each transactions}}
	{{> transaction}}
	{{/each}}
</div>
</div>
<!-- <div class="row">
<div class='col-md-6'>
<h3>Create New Org</h3>
<form id='createOrg'>
{{> orgForm}}
		</form>
</div>
<div class='col-md-6'>
<h3>Create New User</h3>
<form id='createUser'>
{{> userForm}}
		</form>
</div>
</div> -->
</template>