<template name='home'>
{{#if currentUser}}
<div class='col-md-3'>
	{{#with currentUser}}
	<h2>My Profile</h2>
	{{> userProfile}}
	<div class="panel-group" id="myFavs" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="userFavsHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#myFavs" href="#userFavs" aria-expanded="true" aria-controls="userFavs">
          <i class='fa fa-heart'></i> My Favorite Users
        </a>
      </h4>
    </div>
    <div id="userFavs" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="userFavsHeading">
      <div class="panel-body">
      	
      	{{#each profile.favoriteUsers}}
      	{{#with getUser this}}
      	{{> userProfileTiny}}
      	{{/with}}
      	{{/each}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="orgFavsHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#myFavs" href="#orgFavs" aria-expanded="true" aria-controls="orgFavs">
          <i class='fa fa-heart'></i> My Favorite Orgs
        </a>
      </h4>
    </div>
    <div id="orgFavs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="orgFavsHeading">
      <div class="panel-body">

      	{{#each profile.favoriteOrgs}}
      	{{#with getOrg this}}
{{> orgProfileTiny}}
      	{{/with}}
      	{{/each}}
      
      </div>
    </div>
  </div>
</div>
  	{{/with}}

</div>
<div class='col-md-6'>
	{{> searchForm}}
	</div>
{{else}}
<div class='col-md-6 col-md-offset-3'>
	<h3>Signup</h3>
	{{> addUser}}
	</div>
{{/if}}
</template>