<template name='org'>
<div class='col-md-6'>
    {{#unless org.amIAdmin}}
    {{#with org}}
    {{> orgProfile}}
    {{/with}}
    {{else}}
    <form id='updateOrg'>
    	<input type='hidden' name='orgId' value='{{org._id}}'>
        <div class='col-md-4'>
            <img class='img-responsive avatar' src='{{org.avatar}}'>
            <div class='small text-center'>Click logo to update</div>
            <input type='file' name='avatarUpload' class='hidden form-control avatarUpload'>
        </div>
        <div class='col-md-8'>
            <fieldset class='form-group'>
                <label for='name'>Org Name</label>
                <input class='form-control name' name='name' value='{{org.name}}'>
            </fieldset>
            <fieldset class='form-group'>
                <label for='description'>Description</label>
                <textarea name='description' class='form-control' rows='8'>{{org.description}}</textarea>
            </fieldset>
            <fieldset class='form-group'>
                <label for='url'>URL</label>
                <input class='form-control url' name='url' value='{{org.url}}'>
            </fieldset>
            <fieldset class='form-group text-right'>
                <button type='submit' class='btn btn-default'><i class='fa fa-check'></i> Update Org</button>
            </fieldset>
        </div>
    </form>
    <div>
        <h2>Users</h2>
        <table class='table userList'>
            <thead><tr><th>Username</th><th>Email</th><th>Admin</th><th>Contact</th><th></th></tr></thead>
            <tbody>
                {{#each orgUsers}}
                <tr><td><a href='/users/{{username}}' target='_new'>{{username}}</a></td><td>{{emails.[0].address}}</td><td>
                <input type='checkbox' class='isAdmin' data-id='{{_id}}' checked='{{isOrgAdmin ../org._id _id}}'>
                </td><td>
                    <input type='checkbox' class='isContact' data-id='{{_id}}' checked='{{isOrgContact ../org._id _id}}'>
                    </td><td><div class='btn btn-default btn-sm removeFromOrg' data-id='{{_id}}'>Remove User</div></td></tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class='well well-sm'>
        	<h2>Add User</h2>
        	<form id='inviteUser'>
        	<fieldset class='form-group'>
        		<label for='inviteEmail'>Email</label>
        		<input type='email' name='inviteEmail' class='form-control inviteEmail'>
        	</fieldset>
            <fieldset class='form-group'>
                <label for='isAdmin'><input type='checkbox' name='isAdmin' class='isAdmin'> Admin?</label>
                 <label for='isContact'><input type='checkbox' name='isContact' class='isContact'> Contact?</label>     
            </fieldset>
        	<fieldset class='form-group'>
        		<button type='submit' class='btn btn-default'><i class='fa fa-user'></i> Invite User</button>
        	</fieldset>
        	<p>If the user is already signed up they'll be added to your org. If not, they'll be sent an email inviting them to join the timebank and they'll be added to your org once they've signed up.</p>
        </form>
    </div>
        {{/unless}}
    </div>
    </template>