<template name='orgProfileTiny'>
	<div class='orgProfileTiny panel panel-default' data-id='{{_id}}'>
		<div class='panel-body'>
		<div class='row'><div class='col-md-2'>
			<a href='/orgs/{{slug}}'><img class='img-responsive avatar' src='{{avatar}}'></a>
		</div>
		<div class='col-md-3'>
			<div class='name'><a href='/orgs/{{slug}}'>{{name}}</a></div>
		<div class='meta'><span class='balance'><i class='fa fa-clock-o'></i> {{balance}}</span></div>
	</div>
	<div class='col-md-6'>
		<div class='actions text-right'>
			{{#if currentUser.canGive}}<span class='btn btn-default giveOrg' data-id='{{_id}}'><i class='fa fa-arrow-circle-right'></i></span>
			{{else}}
			<span class='btn btn-default giveOrg' disabled='disabled' data-id='{{_id}}' alt="You don't have any credit to give."><i class='fa fa-arrow-circle-right'></i></span>
			{{/if}}
			<span class='btn btn-default requestOrg' data-id='{{_id}}'><i class='fa fa-arrow-circle-left'></i></span> 			<span class='btn btn-default toggleFavoriteOrg' data-id='{{_id}}'>{{#if isFavoriteOrg _id}}<i class='fa fa-heart'></i>{{else}}<i class='fa fa-heart-o'></i>{{/if}}</span>



		</div>
	</div>

</div>
	</div>
</div>
</template>