<template name='orgForm'>
<div class='col-md-4 orgForm'>
{{#if avatar}}
		<img class='img-responsive avatar' src='{{avatar}}'>
{{else}}
		<img class='img-responsive avatar' src='/avatar.png'>
{{/if}}
		<div class='small text-center'>Click logo to update</div>
		<input type='file' name='avatarUpload' class='hidden form-control avatarUpload'>
	</div>
	<div class='col-md-8'>
	<fieldset class='form-group'>
		<label for='name'>Org Name</label>
		<input class='form-control name' name='name' value='{{name}}'>
	</fieldset>
		<fieldset class='form-group'>
		<label for='description'>Description</label>
		<textarea name='description' class='form-control' rows='8'>{{description}}</textarea>
	</fieldset>
	<fieldset class='form-group'>
		<label for='url'>URL</label>
		<input class='form-control url' name='url' value='{{url}}'>
	</fieldset>
	<fieldset class='form-group text-right'>
	{{#if _id}}
		<button type='submit' class='btn btn-default'><i class='fa fa-check'></i> Update Org</button>
{{else}}
		<button type='submit' class='btn btn-default'><i class='fa fa-check'></i> Create Org</button>
{{/if}}
	</fieldset>
</div>
</template>